@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F7E2E2;
    font-family: 'poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: #F7E2E2;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}

.menu_icon{
    width: 35px;
    cursor: pointer;
    display: none;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: #61A4BC;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #1A132F;
}

@media (max-width: 1048px){
    nav ul{
        margin-right: 20px;
    }

    nav ul li a{
        font-size: 17px;
    }
}

@media (max-width: 909px){
    .menu_icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #F7E2E2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover{
        color: #1A132F;
    }
    nav ul.show{
        left: 0;
    }
}

.text_box{
    margin-top: 7%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text_box h1{
    color: #1A132F;
    font-size: 55px;
    line-height: 160px;
}

@media (max-width: 909px){
    .text_box h1{
        color: #1A132F;
        font-size: 30px;
        line-height: 160px;
    }
}

.text_box p{
    color: #61A4BC;
}

.text_box a{
    margin-top: 50px;
    display: inline-block;
    border-radius: 6px;
    color: #1A132F;
    border: 2px solid #1A132F;
    padding: 10px 30px;
    text-decoration: none;
}

.text_box .btn{
    background: #1A132F;
    color: #fff;
    margin-left: 30px;
    font-weight: 600;
}

.main_img img{
    width: 450px;
    float: left;
    position: absolute;
    right: 8%;
    top: 100px;
}

@media (max-width: 1048px){
    .main_img img{
        width: 350px;
        position: absolute;
        right: 2%;
        bottom: 6%;
    }
}

.heading{
    margin-bottom: 3rem;
    text-align: center;
}

.heading span{
    text-transform: uppercase;
    font-size: 3.5rem;
    border-bottom: .2rem solid black;
    color: #1A132F;
}

.about .biography p{
    margin: 2rem auto;
    max-width: 70rem;
    line-height: 1.5;
    font-size: 1.7rem;
    text-align: center;
}

.about .biography .bio{
    margin-top: 1rem;
    text-align: center;
}

.about .biography .bio h3{
    padding: 1rem 1.5rem;
    display: inline-block;
    margin: .5rem;
    background-color: #fff;
    border: .3rem solid black;
    word-break: break-all;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: none;
}

.about .skills{
    margin: 3rem 0;
}

.about .skills .progress{
    margin-top: 1rem;
 }

.about .skills .progress .bar{
    margin: 1rem auto;
    max-width: 70rem;
    border: .5rem solid black;
    padding: .5rem;
}

.about .skills .progress .bar h3 span{
    background-color: #61A4BC;
}
.about .skills .progress .bar h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding:.5rem .5rem;
    background-color: #61A4BC;
}

.about .skills .progress .bar span{
    font-weight: normal;
 }
 
 .about .skills .progress .bar:nth-child(1) h3{
    width: 95%;
 }
 
 .about .skills .progress .bar:nth-child(2) h3{
    width: 80%;
 }
 
 .about .skills .progress .bar:nth-child(3) h3{
    width: 65%;
 }
 
 .about .skills .progress .bar:nth-child(4) h3{
    width: 40%;
 }
 
 .about .edu-exp .row{
    display: flex;
    flex-wrap: wrap;
    gap: .1rem;
 }
 
 .about .edu-exp .row .box-container{
    flex: 1 3 2rem;
    border: 1px solid;
    padding: 10px 10px;    
 }
 
 .about .edu-exp .row .box-container .title{
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #1A132F;
    color: #F7E2E2;
 }
 
 .about .edu-exp .row .box-container .box{
    text-align: center;
    margin: 1rem 0;
    background-color: #61A4BC;
    padding: 1rem;
 }
 
 .about .edu-exp .row .box-container .box span{
    font-size: 1.5rem;
    background-color: #61A4BC;
 }
 
 .about .edu-exp .row .box-container .box h3{
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    background-color: #61A4BC;
 }
 
 .about .edu-exp .row .box-container .box p{
    line-height: 1.5;
    font-size: 1.7rem;
    line-height: 2;
    background-color: #61A4BC;
 }
 


@media only screen and (max-width: 620px){
    .main_img img{
        width: 20%;
        right: 2%;
        top: 20px;
    }
    
    .heading span{
        font-size: 2rem;
    }
    .about .biography .bio h3{
        font-size: 1rem;
    }
}
#footer{
    padding: 50px 0 30px;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-left{
    flex-basis: 50%;
    margin-top: 60px;

}
.footer-right{
    flex-basis: 35%;
    
}
.footer-links{
    display: flex;
   
    justify-content: space-between;
    flex-wrap: wrap;

}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}

.link-title small{
    font-size: 13px;
    color: #777;
}
.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.footer-logo img{
    width: 100px;
}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 12px;
}
.copyright-text,.footer-logo{
    flex-basis: 40%;
}
.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}
@media only screen and (max-width:770px)
{
    #header{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    .text{
        
        margin-top: 100px;
    }
    h1{
        font-size: 25px;
    }
}




